In [1]:
import pandas as pd
import numpy as np

In [2]:
flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

### User-defined Functions

* DEP_DELAY & ARR_DELAY: -100 ~ +60 (normal)
* what is the % of 'normal' of each AIRLINE?

In [3]:
def is_normal(eachSeries):
    return eachSeries.between(-100, 60).mean()

In [4]:
flights.groupby('AIRLINE')[['DEP_DELAY', 'ARR_DELAY']].agg(is_normal)

         DEP_DELAY  ARR_DELAY
AIRLINE
AA        0.916854   0.915281
AS        0.972656   0.971354
B6        0.915285   0.907919
DL        0.959249   0.958211
EV        0.917890   0.912940
F9        0.913440   0.900532
HA        0.982143   0.973214
MQ        0.897148   0.889369
NK        0.868734   0.852902
OO        0.911809   0.905282
UA        0.902207   0.908881
US        0.954799   0.954799
VX        0.938570   0.940584
WN        0.929912   0.930981

In [6]:
flights.groupby('AIRLINE')[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', is_normal])

         DEP_DELAY            ARR_DELAY
              mean is_normal       mean is_normal
AIRLINE
AA       11.274057  0.916854   5.542661  0.915281
AS        1.808594  0.972656  -0.833333  0.971354
B6       14.287823  0.915285   8.692593  0.907919
DL        7.242450  0.959249   0.339691  0.958211
EV        9.092625  0.917890   7.034580  0.912940
F9       14.310398  0.913440  13.630651  0.900532
HA        2.571429  0.982143   4.972973  0.973214
MQ       11.094323  0.897148   6.860591  0.889369
NK       19.514401  0.868734  18.436070  0.852902
OO        9.662279  0.911809   7.593463  0.905282
UA       16.210485  0.902207   7.765755  0.908881
US        4.361355  0.954799   1.681105  0.954799
VX        8.918946  0.938570   5.348884  0.940584
WN       12.639366  0.929912   6.397353  0.930981

##### When you want to rename your user-defined function, then try below! WOW!!!!!!!!!!!!!!!!

In [7]:
is_normal.__name__

'is_normal'

In [8]:
is_normal.__name__ = '% of Normal Range'
is_normal.__name__

'% of Normal Range'

In [9]:
flights.groupby('AIRLINE')[['DEP_DELAY', 'ARR_DELAY']].agg(['mean', is_normal])

         DEP_DELAY                    ARR_DELAY
              mean % of Normal Range       mean % of Normal Range
AIRLINE
AA       11.274057          0.916854   5.542661          0.915281
AS        1.808594          0.972656  -0.833333          0.971354
B6       14.287823          0.915285   8.692593          0.907919
DL        7.242450          0.959249   0.339691          0.958211
EV        9.092625          0.917890   7.034580          0.912940
F9       14.310398          0.913440  13.630651          0.900532
HA        2.571429          0.982143   4.972973          0.973214
MQ       11.094323          0.897148   6.860591          0.889369
NK       19.514401          0.868734  18.436070          0.852902
OO        9.662279          0.911809   7.593463          0.905282
UA       16.210485          0.902207   7.765755          0.908881
US        4.361355          0.954799   1.681105          0.954799
VX        8.918946          0.938570   5.348884          0.940584
WN       12.639366          0.929912   6.397353          0.930981

#### When you have other parameters in your user-defined function, then try this!

In [9]:
def perc_normal2(each_series, lower=-100, upper=60):
    return each_series.between(lower, upper).mean()

In [13]:
def is_normal2(eachSeries, lower=-60, upper=100):
    return eachSeries.between(lower, upper).mean()

In [14]:
flights.groupby('AIRLINE')['DEP_DELAY'].agg(is_normal2, -30, 30) # -30 and 30 ar ethe parameters!

AIRLINE
AA    0.860112
AS    0.937500
B6    0.847145
DL    0.916517
EV    0.864800
F9    0.837509
HA    0.973214
MQ    0.821089
NK    0.777704
OO    0.852763
UA    0.831109
US    0.919505
VX    0.889225
WN    0.849370
Name: DEP_DELAY, dtype: float64